<form method="post">
    <p>
        <label>Prénom: <input name="prenom"></label>
    </p>
    <p>
        <label>Nom: <input name="nom"></label>
    </p>
    <p>
        <button type="submit">Valider</button>
    </p>
</form>